# Variables de entorno para Vercel
# Copia este archivo como .env.local para desarrollo local

FIREBASE_PROJECT_ID=tu-project-id-aqui
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\ntu-private-key-aqui\n-----END PRIVATE KEY-----\n"
FIREBASE_CLIENT_EMAIL=tu-service-account-email@tu-project-id.iam.gserviceaccount.com
